<header class="site-header" role="banner">

    <div class="header-content">
      <a rel="author" class="home-link" href="{{ "/" | relative_url }}" >Accueil</a>
      <a class="all-posts-link" href="{{ "/all-posts.html" | relative_url }}">Articles de blogs</a>
      <a class="all-links-link" href="{{ "/all-links.html" | relative_url }}">Revues du web</a>
      <a class="publications-link" href="{{ "/publications" | relative_url }}">Publications</a>
      <a class="videos-link" href="{{ "/videos" | relative_url }}">Vidéos</a>
      <a class="podcasts-link" href="{{ "/podcasts" | relative_url }}">Podcasts</a>
      <a class="certifications-link" href="{{ "/certifications" | relative_url }}">Certifications</a>
      <a class="links-link" href="{{ "/liens" | relative_url }}">Autres liens</a>
    </div>
</header>
